<body>
  <div class="jumbotron">
    <h1>Bootstrap Tutorial</h1>
    <p>Bootstrap is the most popular HTML, CSS...</p>
  </div>
  <div class="intro" id="intro">
    <div class="container">
      <img src="img_snow_wide.jpg" alt="Snow" />
      <div class="bottom-left">Bottom Left</div>
      <div class="top-left">Top Left</div>
      <div class="top-right">Top Right</div>
      <div class="bottom-right">Bottom Right</div>
      <div class="centered">Centered</div>
    </div>
    <!-- <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
      voluptatibus excepturi dolor eligendi ab fuga, minus nihil perspiciatis
      vel dolore architecto. <br />
      Necessitatibus natus ullam optio aperiam maxime placeat dolores neque.
      <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sapiente
      odit. Numquam sequi recusandae mollitia. Lorem ipsum dolor sit amet.
    </div> -->
    <div id="decor">
      <img src="redwoodtrees.jpg" alt="" width="100%" length="90%" />
    </div>
  </div>
  <!-- <section>
    <div class="footer">
      <p>Footer</p>
      <img src="(footer1-4.png)" /> 
    </div>
  </section> -->
</body>
